/* General Styles */
body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

/* Task Container */
.task-container {
    background: #ffffff4e;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(70, 8, 112, 0.54);
    padding: 20px;
    width: 500px;
    text-align: center;
}


h2 {
    margin-bottom: 50px;
    color: #333;
}


input[type="text"],
input[type="date"],
input[type="time"],
textarea {
    width: 80%;
    padding: 10px;
    margin: 10px 0;
    border: 1px solid #270b32;
    border-radius: 4px;
    font-size: 14px;
}


textarea {
    resize: none; 
}


@media (max-width: 400px) {
    .task-container {
        width: 90%;
    }
}
.task-link {
    margin: 20px; 
}


.back-to{
    display: inline-block;
    padding: 10px 20px;
    font-size: 16px;
    color: rgb(0, 0, 0);
    background-color: #ccc; 
    text-align: center;
    text-decoration: none; 
    border: none;
    border-radius: 5px;
    transition: background-color 0.3s ease, transform 0.2s ease; 
}
.back-to:hover{
    background-color: #cf7af7; 
    transform: scale(1.05); 
    cursor: pointer; 
}
.add-task{
    background-color: #ccc; 
    color: rgb(0, 0, 0);              
    border: none;               
    border-radius: 5px;        
    padding: 10px 20px;        
    font-size: 16px;           
    cursor: pointer;            
    transition: background-color 0.3s, transform 0.3s; 
}

.add-task:hover{
    background-color: #f0ad4e;
    transform: scale(1.05); 
    cursor: pointer; 
}
